{
  "presets": [
    [
      "env",
      {
        "modules": false,
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [],
  "env": {
    "test": {
      "presets": [
        ["env"],
        "react",
        "stage-0"
      ],
      "plugins": [
        "transform-runtime"
      ]
    },
    "es": {
      "presets": ["react", "stage-0", [
        "env", {
          "useBuiltIns": false,
          "modules": false,
          "targets": {
            "node": 8
          },
        }
      ]],
      "compact": false,
      "comments": true,
    },
    "cjs": {
      "presets": ["env", "stage-0"],
      "compact": false,
      "comments": false,
      "plugins": ["babel-plugin-transform-es2015-modules-simple-commonjs"]
    },
    "temp": {
      "presets": ["env", "stage-0"],
      "compact": false,
      "comments": false,
      "plugins": ["transform-name-export-default"]
    },
    "raw": {
      "presets": ["env", "stage-0"],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}