.playground-editor {
  position: relative;
  width: 50%;
}
.playground-editor .CodeMirror {
  border-radius: 5px;
  height: 85vh;
}
.playground-editor pre {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  background: none !important;
}
